@media only screen and (max-width: 35em) {
  main {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 1.5em;
    padding-left: 0;
  }

  h2 {
    font-size: 1.1em;
  }
  
  #line1 {
    font-size: 0.8em;
  }
  
  #line2 {
    font-size: 0.6em;
  }
  
  .return {
    padding: 0.3em;
    position: absolute;
    top: 33px;
  }
  
  .return a {
    font-size: 0.8em;
  }
}