h1 {
  padding: 0.5em;
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
  border-top: 1px solid #bbb;
  border-bottom: 0;
}

.principle-box {
  padding: 10px 0;
}

.image {
  max-width: 150px;
  width: 50%;
  display: block;
}

.image2 {
  max-width: 400px;
  width: 90%;
  display: block;
}

.paragraph {
  color: black;
}

.return, .next {
  background: #028090;
  padding: 0.5em;
  border-radius: 0 10px 0 10px;
  position: absolute;
  top: 62px;
}

.next {
  border-radius: 10px 0 10px 0;
  position: absolute;
  right: 5%;
}

.return a, .next a {
  font-size: 1.0em;
  color: white;  
}

.return:hover, .next:hover {
  background: gray;
}

.return a:hover, .next a:hover {
  color: yellow;
}