@media only screen and (max-width: 60em) {
  h1 {
    font-size: 2.0em;
    padding-left: 0;
  }

  h2 {
    font-size: 1.3em;
  }
  
  .return, .next {
    padding: 0.4em;
    position: absolute;
    top: 47px;
  }
  
  .return a, .next a {
    font-size: 0.9em;
  }
}