@media only screen and (max-width: 60em) {
  h1 {
    font-size: 2.0em;
    padding-left: 0;
  }

  h2 {
    font-size: 1.3em;
  }
  
  nav, .return {
    line-height: 2em;
    text-align: right;
    padding-right: 10px;
    margin-top: -21px;
  }
  
  nav a, .return a {
    font-size: 0.9em;
  }

  #line1 {
    font-size: 0.9em;
  }
  
  #line2 {
    font-size: 0.7em;
  }

  .return {
    line-height: 1.5em;
    position: absolute;
    left: 6%;
    top: 101px;  
  }
}