@media only screen and (max-width: 60em) {
  main {
    grid-template-columns: 1fr 1fr;
  }

  h1 {
    font-size: 1.9em;
  }

  h2 {
    font-size: 1.3em;
  }

  .return, .next {
    padding: 0.4em;
    position: absolute;
    top: 43px;
  }
  
  .return a, .next a {
    font-size: 0.9em;
  }
}