.pictures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.pictures figure {
  border: 1px solid gray;
  margin: 0 5% 5%;
  background: #e1e8f7;
}

.pictures img {
  max-width: 100%;
  border-bottom: 1px solid gray;
}

.pictures figcaption {
  font-size: 0.9em;
  padding: 0 10px 5px 10px;
}

.pictures figure:hover {
  box-shadow: 0 0 30px gray;
}

img[data-src] {
  filter: blur(0.2em);
}

img {
  filter: blur(0em);
  transition: filter 1s;
}

@media only screen and (max-width: 60em) {
  .pictures {
    grid-template-columns: 1fr 1fr;
  }

  .pictures figure:hover {
    box-shadow: none;
  }
}

@media only screen and (max-width: 35em) {
  .pictures {
    grid-template-columns: 1fr;
  }
}