body {
  font-family: Arial, "Comic Sans MS", sans-serif;
}

main {
  padding: 10px;
}

h1 {
  color: white;
  background: #028090;
  margin-top: 10px;
  padding: 0.5em;
  padding-right: 150px;
  text-align: center;
  border-radius: 10px;
}

h2 {
  color: black;
  margin-top: 1px;
}

footer {
  background: #028090;
  color: white;
  padding: 0.2em;
  text-align: center;
  border-radius: 10px;
}

footer p {
  justify-content: center;
  margin: 0px;
}

#content {
  width: 90%;
  margin: 0 auto;
}

#logo {
  position: absolute;
  top: 20px;
  right: 5%;
}

header img {
  height: 150px;
  padding: 0 20px;
}

#line1 {
  font-size: 1em;
  margin-top: 7px;
  margin-bottom: 1px;
}

#line2 {
  font-size: 0.8em;
  color: yellow;
  margin-top: 1px;
  margin-bottom: 7px;
}

footer a {
  color: white;
}

footer a:hover {
  color: yellowgreen;
}