@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');

body {
  background: #f0f3bd;
  font-family: Arial, "Comic Sans MS", sans-serif;
}

h1 {
  color: white;
  margin-top: 1px;
}

h2 {
  color: black;
  margin-top: 1px;
}

#content {
  width: 90%;
  margin: 0 auto;
}

#logo {
  position: absolute;
  top: 0px;
  background: white;
  margin-left: 25px;
  border: solid black 1px;
}

#nome {

}