@media only screen and (max-width: 60em) {
  h1 {
    font-size: 2.0em;
    padding-left: 0;
  }

  h2 {
    font-size: 1.3em;
  }

  nav {
    line-height: 2em;
    text-align: right;
    padding-right: 10px;
    margin-top: -21px;
  }

  nav a, nav button {
    font-size: 0.9em;
  }

  nav button {
    display: inline-block;
    background: transparent;
    border: none;
    color: white;
  }

  nav ul.hide {
    display: none;
  }

  nav ul li {
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }

  nav ul li a {
    display: block;
  }

  nav ul li:hover {
    background: gray;
  }

  #line1 {
    font-size: 0.9em;
  }

  #line2 {
    font-size: 0.7em;
  }
}